<html>
  <head>
    <title>Hello world</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Comics</h1>
    <a href="/">All</a>
    <% tags.forEach(tagname => { %>
      <a href="<%= '/tags/' + tagname %>"><%= tagname %></a>
    <% }) %>
    <br>
    <a href="/comics/add">Add a comic</a>
    <% if (locals.comics?.length === 0) { %>
    <p>No comics found</p>
      <% } else { %> <% comics.forEach(comic => { %>
       <%- include('partials/comicCard', {comic}) %>
      </div>
      <% }) %>
    <% } %>
  </body>
</html>
